*{
  margin: 0;
  padding: 0;
}

body{
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar{
  text-align:center;
    margin:15px;
    width:50vw;
}

form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:8px;
  padding:12px;
  flex-direction: column;
  gap: 18px;

}

form > input{
  margin:6px;
  padding:8px;
}

